In [1]:
import pandas as pd

In [5]:
df=pd.read_csv("/content/HR Data.csv")

df.head(5)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [6]:
df.describe()

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
count,1470.000000,1470.000000,1470.000000,1470.000000,1470.0,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,...,1470.000000,1470.0,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000
mean,36.923810,802.485714,9.192517,2.912925,1.0,1024.865306,2.721769,65.891156,2.729932,2.063946,...,2.712245,80.0,0.793878,11.279592,2.799320,2.761224,7.008163,4.229252,2.187755,4.123129
std,9.135373,403.509100,8.106864,1.024165,0.0,602.024335,1.093082,20.329428,0.711561,1.106940,...,1.081209,0.0,0.852077,7.780782,1.289271,0.706476,6.126525,3.623137,3.222430,3.568136
min,18.000000,102.000000,1.000000,1.000000,1.0,1.000000,1.000000,30.000000,1.000000,1.000000,...,1.000000,80.0,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,30.000000,465.000000,2.000000,2.000000,1.0,491.250000,2.000000,48.000000,2.000000,1.000000,...,2.000000,80.0,0.000000,6.000000,2.000000,2.000000,3.000000,2.000000,0.000000,2.000000
50%,36.000000,802.000000,7.000000,3.000000,1.0,1020.500000,3.000000,66.000000,3.000000,2.000000,...,3.000000,80.0,1.000000,10.000000,3.000000,3.000000,5.000000,3.000000,1.000000,3.000000
75%,43.000000,1157.000000,14.000000,4.000000,1.0,1555.750000,4.000000,83.750000,3.000000,3.000000,...,4.000000,80.0,1.000000,15.000000,3.000000,3.000000,9.000000,7.000000,3.000000,7.000000
max,60.000000,1499.000000,29.000000,5.000000,1.0,2068.000000,4.000000,100.000000,4.000000,5.000000,...,4.000000,80.0,3.000000,40.000000,6.000000,4.000000,40.000000,18.000000,15.000000,17.000000

In [ ]:
# List of columns to remove
columns_to_remove = ['EmployeeCount', 'EmployeeNumber', 'StandardHours']

# Drop the unnecessary columns
df = df.drop(columns=columns_to_remove)

In [9]:
df.head(5)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,2,Female,...,3,1,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,3,Male,...,4,4,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,4,Male,...,3,2,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,4,Female,...,3,3,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,Male,...,3,4,1,6,3,3,2,2,2,2

In [ ]:
# Dictionary mapping old column names to new column names
new_column_names = {
    'Age': 'Employee_Age',
    'Attrition': 'Attrition_Status',
    'BusinessTravel': 'Travel_Frequency',
    'DailyRate': 'Daily_Rate',
    'Department': 'Department_Type',
    'DistanceFromHome': 'Distance_From_Home',
    'Education': 'Education_Level',
    'EducationField': 'Education_Field',
    'EnvironmentSatisfaction': 'Environment_Satisfaction',
    # Add more column name mappings as needed
}

# Rename the columns
df = df.rename(columns=new_column_names)

In [11]:
df.head(5)

,Employee_Age,Attrition_Status,Travel_Frequency,Daily_Rate,Department_Type,Distance_From_Home,Education_Level,Education_Field,Environment_Satisfaction,Gender,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,2,Female,...,3,1,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,3,Male,...,4,4,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,4,Male,...,3,2,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,4,Female,...,3,3,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,Male,...,3,4,1,6,3,3,2,2,2,2

In [12]:
# Drop duplicate rows
df = df.drop_duplicates()

In [13]:
df.head(5)

,Employee_Age,Attrition_Status,Travel_Frequency,Daily_Rate,Department_Type,Distance_From_Home,Education_Level,Education_Field,Environment_Satisfaction,Gender,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,2,Female,...,3,1,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,3,Male,...,4,4,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,4,Male,...,3,2,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,4,Female,...,3,3,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,Male,...,3,4,1,6,3,3,2,2,2,2

In [19]:
# Sanitize specific columns
# For example, let's remove leading and trailing whitespaces from the 'BusinessTravel' column
df['Travel_Frequency'] = df['Travel_Frequency'].str.strip()

# Convert 'DailyRate' column to integer data type
df['Daily_Rate'] = df['Daily_Rate'].astype(int)

# Replace missing values in 'Education' column with the median
df['Education_Level'].fillna(df['Education_Level'].median(), inplace=True)

In [20]:
df.head(5)

,Employee_Age,Attrition_Status,Travel_Frequency,Daily_Rate,Department_Type,Distance_From_Home,Education_Level,Education_Field,Environment_Satisfaction,Gender,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,2,Female,...,3,1,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,3,Male,...,4,4,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,4,Male,...,3,2,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,4,Female,...,3,3,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,Male,...,3,4,1,6,3,3,2,2,2,2

In [22]:
# Define the columns you want to sanitize (remove NaN values)
columns_to_sanitize = ['Employee_Age', 'Attrition_Status', 'Travel_Frequency', 'Education_Field', 'Department_Type']

# Remove NaN values from the specified columns
df.dropna(subset=columns_to_sanitize, inplace=True)

# Display the modified DataFrame
print(df.head())

   Employee_Age Attrition_Status   Travel_Frequency  Daily_Rate  \
0            41              Yes      Travel_Rarely        1102
1            49               No  Travel_Frequently         279
2            37              Yes      Travel_Rarely        1373
3            33               No  Travel_Frequently        1392
4            27               No      Travel_Rarely         591

          Department_Type  Distance_From_Home  Education_Level  \
0                   Sales                   1                2
1  Research & Development                   8                1
2  Research & Development                   2                2
3  Research & Development                   3                4
4  Research & Development                   2                1

  Education_Field  Environment_Satisfaction  Gender  ...  PerformanceRating  \
0   Life Sciences                         2  Female  ...                  3
1   Life Sciences                         3    Male  ...                  4
2           Other                         4    Male  ...                  3
3   Life Sciences                         4  Female  ...                  3
4         Medical                         1    Male  ...                  3

   RelationshipSatisfaction  StockOptionLevel TotalWorkingYears  \
0                         1                 0                 8
1                         4                 1                10
2                         2                 0                 7
3                         3                 0                 8
4                         4                 1                 6

   TrainingTimesLastYear WorkLifeBalance  YearsAtCompany  YearsInCurrentRole  \
0                      0               1               6                   4
1                      3               3              10                   7
2                      3               3               0                   0
3                      3               3               8                   7
4                      3               3               2                   2

   YearsSinceLastPromotion YearsWithCurrManager
0                        0                    5
1                        1                    7
2                        0                    0
3                        3                    0
4                        2                    2

[5 rows x 32 columns]